.wrapper{
	width: 100%;
	height: 100vh;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	gap: 10vmin;
	background: #030202;
	background:linear-gradient(to right, #b25bf8, #8553ed);
	.player-board{
		display: flex;
		align-items: center;
		justify-content: space-around;
		gap: 10vmin;
		.container{
			position: relative;
			outline-offset: 05px;
			display: flex;
			width: 15vmin;
			height: 15vmin;
			border-radius: 50%;
			box-shadow: rgba(0, 0, 0, 0.2) 0px 60px 40px -7px;
			h1{
				font-size: 5vmin;
				position: absolute;
				top: 50%;
				left: 50%;
				transform: translate(-50%,-50%);
				z-index: 99;
				box-shadow:inset rgba(0, 0, 0, 0.2) 0px 60px 40px -7px;;
				border-radius: 50%;
				display: grid;
				place-content: center;
				width: 11vmin;
				height: 11vmin;
			}
			circle{
				fill: none;
				stroke-width: 2vmin;
				stroke: url(#GradientColor);
				stroke-dasharray: 450;
				cx:7.5vmin;
				cy: 7.5vmin;
				r: 6.5vmin;
				stroke-dashoffset: 0;
				// animation: load 2s linear forwards;
			}
			svg{
				width: 15vmin;
				height: 15vmin;
				position: absolute;
				padding: 0vmin;
				top: 50%;
				left: 50%;
				transform: translate(-50%,-50%);
				background-color: white;
				border-radius: 50%;
			}
		}
	
	}
	.game-box{
		display: grid;
		grid-template-columns: repeat(3,1fr);
		gap: 3vmin;
		div{
			width: 13vmin;
			height: 13vmin;
			background-color: #ffffff;
			display: flex;
			align-items: center;
			justify-content: center;
			z-index: 300;
			// box-shadow: rgba(75, 206, 195, 0.527) 0px 3px 13px, rgba(75, 206, 195, 0.527) 0px 5px 5px, rgba(75, 206, 195, 0.527) 0px -4px 5px, rgba(75, 206, 195, 0.527) 0px 3px 5px, rgba(75, 206, 195, 0.527) 0px -3px 5px;
			border-radius: 1vmin;
			font-size:5vmin;
			font-weight: 900;
			text-shadow:
			0 0 5px #fff,
			0 0 10px #fff,
			0 0 20px #fff,
			0 0 40px  #d161ff,
			0 0 80px  #d161ff,
			0 0 90px  #d161ff,
			0 0 100px  #d161ff,
			0 0 150px #d161ff;;
			cursor: pointer;
			transition: all .3s ease;
			&:hover{
				transform: scale(1.02);
			}
			h1{
				font-size: 4rem;
			}
		}
		.disable{
			pointer-events: none;
		}
	}
}

.overlay{
	width: 100%;
	height: 100%;
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color:#262626;
	z-index: 999;
	display: flex;
	align-items: center;
	justify-content: center;
	
	.container{
		width: min(350px,80%);
		background-color: #fff;
		// height: 500px;
		text-align: center;
		font-size: 2rem;
		border-radius: 16px;
		box-shadow: rgb(75, 206, 195) 0px 54px 55px, rgb(75, 206, 195) 0px -12px 30px, rgb(75, 206, 195) 0px 4px 6px, rgb(75, 206, 195) 0px 12px 13px, rgb(75, 206, 195) 0px -3px 5px;
		.image-container{
			width: 100%;
			border-radius: 16px;
			img{
				width: 100%;
				// height: 400px;
				aspect-ratio: 1/1;
				border-radius: 16px 16px 0 0;
			}
		}
		.message{
			padding:0 2rem 2rem 2rem;
			text-align: center;
			line-height: 2;
			p{
				&:first-child{
					font-size: 1.7rem;
					font-weight: 700;
					color: #000;
				}
				&:last-child{
					font-size: 1rem;
					font-weight: 500;
				}
			}
		}
		button{
			padding: 1rem 5rem;
			margin-bottom: 2rem;
			border-radius: 30px;
			background: #5246cf;
			border: none;
			color: #fff;
		}
	}
}

@keyframes load {
	100%{
		stroke-dashoffset: 450;
	}
}