/* You can add global styles to this file, and also import other style files */
@font-face {
  font-family: "Roadrage";
  src: url("./assets/font/road-rage.ttf") format("truetype");
}
*{
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	font-family: 'Roadrage' ,sans-serif;
}
button{
	cursor: pointer;
}
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
