<div class="container">
  <div class="menu">
    <div class="menu-logo">
      <img src="../assets/image/backgroundImage.jpg" alt="">
    </div>
    <div class="menu-option">
      <button class="option" >
        <img src="../assets/image/logo.png" alt="" width="50px">
        <h1>New Game</h1>
      </button>
      <button class="option" routerLink="/multi">
        <img src="../assets/image/multiplayer.jpg" alt="" width="50px">
        <h1>Multiplayer</h1>
      </button>
      <button class="option" >
        <img src="../assets/image/setting.png" alt="" width="50px">
        <h1>Setting</h1>
      </button>
    </div>
  </div>
</div>
